html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: rgb(231, 231, 231);
}

header {
  height: 0;
}

img {
  margin-bottom: 0.5rem;
}

.active {
  font-weight: bold;
}

section,
footer > div {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  scroll-margin-top: 70px;
}

section:first-child {
  margin: 71px 0 0 0 !important;
}


section:not(:first-child), footer > div {
  margin: 15px 0 0 0 !important;
}

.cover {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cover h2 {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}

.cover img {
  width: 100%;
}

article {
  padding-top: 1rem;
}

article p {
  text-align: center;
}

article img, article video {
  width: 100%;
}

article.double *:nth-child(2n + 1) {
  width: 48%;
  display: inline-block;
}

article.double-l *:nth-child(2n + 1) {
  width: 23%;
  display: inline-block;
}

article.double-r *:nth-child(2n + 1) {
  width: 73%;
  display: inline-block;
}

article.double *:nth-child(2n) {
  width: 48%;
  display: block;
  float: right;
}

article.double-l *:nth-child(2n) {
  width: 73%;
  display: block;
  float: right;
}

article.double-r *:nth-child(2n) {
  width: 23%;
  display: block;
  float: right;
}

article.double p, article.double-r p, article.double-l p {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
}


article p, article img, article {
  margin: 0;
}

article {
  background-color: rgb(219, 219, 219);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: block;
}


@media only screen and (max-width: 1200px) {
  article.double *:nth-child(2n + 1),
  article.double *:nth-child(2n) {
    width: 100%;
  }
  article.double-l *:nth-child(2n + 1),
  article.double-l *:nth-child(2n) {
    width: 100%;
  }
  article.double-r *:nth-child(2n + 1),
  article.double-r *:nth-child(2n) {
    width: 100%;
  }
}

footer p {
  width: 100%;
}

#go-top {
  margin: auto;
  color: black;
  height: 80px;
}

#go-top svg {
  transition: transform 0.2s ease;
  padding-top: 5px;
  width: 64px;
  height: 64px;
}

#go-top svg:hover {
  transform: scale(1.1);
}

a.icon, a.icon:visited {
  text-decoration: none;
}

a.icon img {
  transition: transform 0.2s ease;
  height: 96px;
  margin: 0.25rem;
}

a.icon img:hover {
  transform: scale(1.05);
}

/* The progress container (grey background) */
.progress-container {
  display: block;
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}